@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

body {
    font-family: 'Comfortaa', sans-serif;
}
.heading {
    font-family: 'Anton', sans-serif;
}

.overlay {
    visibility: hidden;
}

.overlay:target {
    visibility: visible;
}