:root {
    /* catalina-blue */
    --color-primary: #11277B;
    --color-primary-darker: #0E2065;

    --color-secundary: #db7ebf;
    --color-tertiary: #F90870;

    --color-quaternary: #5A5286;
    /*--color-quaternary: #7386FD; !* blueberry *!*/
    /*--color-quinary: #3F2772; !* spanish-violet *!*/

    --color-text-primary: #000;
    --color-text-secundary: #fff;
}