/* Medium desktop :992px. */

@media (min-width: 1200px) and (max-width: 1500px) {
    .pb-100 {
        padding-bottom: 80px;
    }
    .galllery.item2 {
        padding: 80px 0 50px;
    }
    .boxed-layout .wrapper {
        width: 1180px;
    }
    .boxed-layout .sticky {
        width: 1180px;
    }
}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1199px) {
    /*  .navbar-nav > li > a {
  margin-left: 22px;
}*/
    .ptb-100 {
        padding: 70px 0;
    }
    .pt-100 {
        padding-top: 70px
    }
    .feature-img img {
        height: 190px;
        width: 190px;
    }
    .fixed-bg {
        width: 70%;
    }
    .quick-link-right {
	margin-right: 10px;
    }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .mean-container a.meanmenu-reveal {
	float: right;
	margin-right: 8px;
    }
    .mean-container .mean-bar {
	background: #fff none repeat scroll 0 0;
	position: fixed;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    }
    .mean-container a.meanmenu-reveal span {
	background: #000;
    }
    .mean-container a.meanmenu-reveal {
	color: #000;
    }
    .logo {
	padding: 14px 19px;
	position: fixed;
	left: 10px;
	z-index: 9999999;
	width: 146px;
	margin-top: 0px;
        line-height: 3rem;
    }
    .main-navigation {
	position: inherit;
    }
    .banner {
	padding-top: 61px;
    }
    .mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 14px 16px 17px;
    margin-right: 25px;
    }
    .pos{position: inherit}
    .mean-container .mean-nav {
	background: #fff;
    padding: 0px;
    }
    .mean-container .mean-nav ul li a {
	color: #555;
	border-top: 1px solid #ddd;
    }
    .mean-container .mean-nav ul li li a {
	color: #555;
	border-top: 1px solid #ddd;
    opacity: 1;
    }
    .mean-container .mean-nav ul li a.mean-expand:hover {
	background: #fff;
    }
    .banner h1 {
        font-size: 37px;
    }
    .banner p {
        font-size: 20px;
    }
    .banner .item {
        height: 620px;
    }
    .service-left .img-wrapper {
	margin-bottom: 50px;
    }
    .fixed-bg {
        width: 94%;
    }
    .mixitup-button {
        padding: 5px 0px;
        font-size: 17px;
    }
    .testimonail-list {
        margin-top: 0px;
    }
    .sin-blog-det h3 a {
        font-size: 15px;
        font-weight: 500;
    }
    .single-price a.rounded-btn {
        font-weight: 500;
        padding: 11px 14px;
    }
    .single-price {
        padding: 20px 15px;
    }
    .contact-wraper {
        padding-top: 10px;
    }
    .btn.submit-btn.btn-primary {
        border-radius: 0;
        padding: 8px 19px;
    }       
    .feature-desc>h3 {
        font-size: 18px;
    }
    .feature-desc>p {
        font-size: 15px;
    }
    .title-1 h1 {
        font-size: 30px;
    }
    .about-section.ptb-100 {
        padding-bottom: 60px;
        padding-top: 35px;
    }
    .about-desc {
        margin-top: 30px;
        text-align: center;
    }
    .single-fun-fact.middle-margin-left,
    .single-fun-fact.middle-margin {
        float: none;
        margin-right: 0;
    }
    .single-fun-fact h5 {
        font-size: 16px;
        margin-top: 0;
    }
    .single-fun-fact p {
        font-size: 30px;
    }
    .ptb-100 {
        padding: 60px 0;
    }
    .section-title {
        margin-bottom: 50px;
    }
    .section-title h2 {
        font-size: 24px;
    }
    .pt-100 {
        padding-top: 60px;
    }
    .about-desc {
        margin-bottom: 30px;
    }
    .about-carousel {
	width: 80%;
	margin: 0 auto;
    }
    .about-us-img {
        text-align: center;
    }
    .team-area .inner-con-wraper {
        margin: 0 auto;
        width: 80%;
    }
    .sin-team {
        margin-bottom: 30px;
    }
    .appointment-button a {
	padding: 6px 5px;
	font-size: 13px;
    }
    .appointment-button i {
	display: none;
    }
    .footer-social > ul::after,.footer-social > ul::before {
	height: 1px;
	width: 27%;
    }
    .footer-widget {
	padding-top: 45px;
	padding-bottom: 65px;
    }
    .blog-wrapper {
        padding: 60px 0px 60px;
    }
    .widget-area {
        padding: 60px 0px;
    }
    #comments {
        padding-bottom: 60px;
    }
}


/* small mobile :320px. */

@media (max-width: 767px) {
    .container {
        width: 300px
    }
    a.rounded-btn {
    margin-top: 0px;
	padding: 5px 14px;
	text-transform: capitalize;
	font-size: 13px;
}
    .banner h1 {
        font-size: 29px;
        line-height: 29px;
    }
    .banner p {
        font-size: 15px;
        line-height: 23px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .banner .item {
        height: 490px;
        background-position: 0;
    }
    .banner .item:before{
        content: '';
        background: #fff;
        width: 100%;
        height: 100%;
        opacity: .6;
        top: 0;
        left: 0;
        z-index: 0;
        position: absolute;
    }
    .control,
    .control:focus {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .about-section.ptb-100 {
        padding-bottom: 30px;
        padding-top: 40px;
    }
    .about-desc h2 {
        font-size: 20px;
    }
    .about-desc {
        text-align: center;
        margin-bottom: 23px;
    }
    .about-desc p.text-2 {
	    margin: 0px 0 18px !important;
    }
    .about-desc p {
        font-size: 13px;
    }
    .about-carousel {
	    padding-bottom: 15px;
    }
    .single-fun-fact.float-left,
    .single-fun-fact.middle-margin-left,
    .single-fun-fact.middle-margin,
    .single-fun-fact.float-right {
        float: none;
    }
    .single-fun-fact.middle-margin-left,
    .single-fun-fact.middle-margin {
        margin-right: 0;
    }
    .single-fun-fact p {
        font-size: 30px;
    }
    .single-fun-fact h5 {
        font-size: 14px;
        margin-top: 0;
    }
    .fun-icon {
        margin-bottom: 21px;
    }
    .ptb-100 {
        padding: 40px 0;
    }
    .single-fun-fact {
        margin-bottom: 35px;
    }
    .fun-fact .row .col-xs-12:last-child .single-fun-fact {
        margin-bottom: 0;
    }
    .section-title h2 {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 40px;
    }
    .section-title h2::before {
        bottom: -22px;
        margin-left: -68px;
    }
    .section-title h2::after {
        bottom: -32px;
    }
    .section-title {
        margin-bottom: 30px;
    }
    .testimonail-list {
        margin-top: 0px;
    }
    .pt-100 {
        padding-top: 40px;
    }
    .sin-blog-det h3 a {
        font-size: 18px;
    }
    .blog-content>p {
        font-size: 14px;
        line-height: 25px;
    }
    .blog-wrapper {
        padding: 40px 0px 0;
    }
    .widget-area {
        padding: 0 0 40px;
    }
    .sin-blog {
        margin-bottom: 30px;
        padding-bottom: 0px;
    }
    #comments {
    padding-bottom: 20px;
}
    .single-gallery img {
        width: 100%;
    }
    .mixitup-button li {
        display: inline-block;
        padding: 5px 5px;
    }
    .mixitup-button {
        padding: 5px 0px;
        text-align: left;
    }
    .single-feature {
        padding: 15px 0;
        margin-bottom: 10px;
    }
    .fixed-bg>h2 {
        float: none;
        font-size: 22px;
        text-align: center;
    }
    .fixed-bg {
        width: 100%;
        text-align: center;
    }
    .fixed-bg a {
        padding: 9px 25px;
        margin-top: 18px;
    }
    .fixed-bg-wrapper {
        padding: 50px 0;
    }
    .single-price {
        padding: 20px 15px;
        margin-bottom: 30px;
    }
    .single-price .single-price-rate {
        padding-bottom: 0px;
    }
    .single-price a.rounded-btn {
        padding: 10px 14px;
        font-size: 13px;
    }
    .contact-wraper {
        padding-top: 0px;
    }
    .btn.submit-btn.btn-primary {
        padding: 6px 12px;
    }
    .fixed-bg a {
        float: none;
    }
    .fixed-bg-wrapper {
        background-attachment: inherit;
        background-position: center;
    }
    .section-title h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 22px;
    }
    .footer ul {
        text-align: center;
    }
    .footer p {
        text-align: center;
    }
    #scrollUp {
        bottom: 26px;
        right: 8px;
    }
    .navbar-nav li a {
        margin-left: 0px;
    }
    .navbar-toggle .icon-bar {
        background: var(--color-primary) none repeat scroll 0 0;
    }
    .banner {
        padding-top: 0px;
    }
    .sin-pricelist {
        margin-bottom: 80px;
    }
    .blog-heading {
        font-size: 18px;
    }
    .commentlists .the-comment .comment-box {
        margin-left: 50px;
    }
    .commentlists div.avatar {
        margin-right: 0px;
    }
    .children-comment {
        padding-left: 20px;
    }
    .comment-text {
        margin-top: 13px;
    }
    .search-box {
        margin-top: 50px;
    }
    .get-quate-inner input {
        width: 100%;
        margin: 0 0%;
        margin-bottom: 15px;
    }
    .get-quate-inner select {
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
        margin-left: 0%;
    }
    .get-quate-inner p {
        font-size: 15px;
    }
    .qbuuton {
        margin-left: 0px;
    }
    .sin-team {
        margin-bottom: 30px;
    }
    .breadcrumb h2::before {
        height: 3px;
        bottom: -10px;
    }
    .breadcrumb h2 {
        font-size: 27px;
    }
    .breadcrumb {
        padding: 30px 0px;
        margin-top: 82px;
    }
    .mean-container a.meanmenu-reveal {
	float: right;
	margin-right: 8px;
    }
    .mean-container .mean-bar {
	background: #fff none repeat scroll 0 0;
	position: fixed;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    }
    .mean-container a.meanmenu-reveal span {
	background: #000;
    }
    .mean-container a.meanmenu-reveal {
	color: #000;
    }
    .logo {
	padding: 14px 19px;
	position: fixed;
	left: 0;
	z-index: 9999999;
	width: 146px;
	margin-top: 0px;
        line-height: 3rem;
    }
    .main-navigation {
	position: inherit;
    }
    .mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 14px 16px 17px;
    margin: 0 auto;
    }
    .pos{position: inherit}
    .mean-container .mean-nav {
	background: #fff;
    padding: 0px;
    }
    .mean-container .mean-nav ul li a {
	color: #555;
	border-top: 1px solid #ddd;
    }
    .mean-container .mean-nav ul li li a {
	color: #555;
	border-top: 1px solid #ddd;
    opacity: 1;
    }
    .mean-container .mean-nav ul li a.mean-expand:hover {
	background: #fff;
    }
    #productModal .modal-dialog {
	margin-top: 74px;
    }
    .modal-body {
	padding: 4px;
	padding-bottom: 0px;
    }
    .sub-tit {
	font-size: 15px !important;
	padding-left: 0px;
	margin-bottom: 3px;
    }
    .get-quate-inner select {
	margin-bottom: 7px;
    }
    .get-quate-inner input {
	margin-bottom: 7px;
    }
    .border-r-b {
	border-top: 1px solid #ddd;
    }
    .border-r {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #ddd;
    }
    .sin-service {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
    }
    .service-page .sin-service {
	border-left: none;
	border-right: none;
    }
    .sin-service.bg-two {
	border-bottom: 1px solid #ddd;
    }
    .breadcrumb {
	margin-top: 0px;
    }
    .mixitup-button li.active {
	background: #fff;
	color: var(--color-primary);
    }
    .mixitup-button {
	padding: 0px 15px;
    }
    .section-title.text-center > p {
	margin-bottom: 30px;
        line-height:22px;
    }
    .footer-social > ul::before,.footer-social > ul::after {
    content: none;
    }
    .footer-widget {
	padding-top: 20px;
	padding-bottom: 40px;
    }
    .footer-social {
	margin-top: 35px;
    }
    .footer-social a {
	font-size: 21px;
	height: 45px;
	line-height: 45px;
	width: 45px;
    }
    .sin-service,.service-page .sin-service{
    height: auto;
    padding: 50px 30px;
    border: 1px solid #ddd;
    margin-bottom: 30px;
}
    .fun-fact {
	background-position: left;
    }
    .service-img img {
    width: 100%;
    }
}


/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px
    }
    .about-section.ptb-100 {
        padding-bottom: 40px;
        padding-top: 35px;
    }
    .about-desc p {
        font-size: 14px;
    }
    .ptb-100 {
        padding: 45px 0;
    }
    .section-title h2 {
        font-size: 22px;
        line-height: 20px;
    }
    .section-title h2::before {
        bottom: -23px;
    }
    .fun-fact .row .col-xs-12 {
        width: 50%;
    }
    .fun-fact .row .col-xs-12:nth-child(3) .single-fun-fact {
        margin-bottom: 0;
    }
    #scrollUp {
        bottom: 29px;
        right: 24px;
    }
    .team-area .inner-con-wraper {
        margin: 0 auto;
        width: 80%;
    }
    .our-feature .col-xs-12{
        width: 50%;
    }
  
}